@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Syne&family=Cardo&family=Dancing+Script&family=Karla&family=Luckiest+Guy&family=Montserrat+Alternates&family=Rubik&display=swap');

:root{
    --main-bg-color: #3c6ca8;
    --main-color-pink: #ffbede;
    --main-color-yellow: #FFE99A;
}

:root{
    box-sizing: border-box;
    font-size: calc(1vw + 0.62em);
}

@media (min-width: 50em){
    :root{
        font-size: 1.125em;
    }
}

*, *::before, *::after{
    box-sizing: inherit;
}

body{
    margin: 0;
    font-family: 'Syne', Rubik, sans-serif;
    background-color: var(--main-bg-color);
    color: white;
}

.title{
    text-align: center;
}

.menu{
    width: 100vw;
    height: 40px;
    text-align: center;
    background-color: #eee;
    display: flex;
    justify-content: center;
    position: relative;
}

.menu-icon{
    font-size: 1.3em;
    border: 0;
    background-color: #eee;
}

.menu-dropdown{
    display: none;
    position: absolute;
    top: 40px;
    left: 0em;
    width: 100%;
}

.menu.is-open .menu-dropdown{
    display: block;
}

.nav-menu{
    background-color: #eee;
    margin: 0;
    padding: 0;
    list-style: none;
}

.nav-menu > li + li{
    border-top: 1px solid #ccc;
}

.nav-menu > li > a{
    display: block;
    padding: 1em 0;
    color: var(--main-bg-color);
    font-weight: normal;
    transition: 0.1s;
}

.nav-menu > li > a:hover{
    background-color: var(--main-bg-color);
    color: var(--main-color-yellow);
}

a:link{
    text-decoration: none;
    color: var(--main-color-yellow);
}

a:visited{ 
    color: #efc322;
    color: var(--main-color-yellow);
}

a:hover, a:active{
    color: var(--main-color-yellow);
    text-decoration: underline;
}

.hero{
    height: 150px;
    padding: 2.4em 1em;
    text-align: center;
    background-image: radial-gradient(rgba(158, 158, 158, 0.45) 30%,rgba(255, 255, 255, 0.4)), url('img/girl-3194977_1280.jpg');
    background-size: 100%;
    background-position: center;
    font-size: 1.3em;
    color: white;
    text-shadow: 0.1em 0.1em 0.3em black;
}


#claim{
    display: none;
    position: absolute;
    top: 15px;
    right: 20px;
    color: var(--main-color-pink);
    color: var(--main-color-yellow);
    text-align: center;
    padding: 1.8em 2em;
    /*border: 0.05em solid #eee;*/
    box-shadow: 0px 0px 6px rgba(200, 200, 200, 0.5);
    border-radius: 50%;
    background-color: rgba(50, 50, 50, 0.3);
    margin: 10px auto;
    max-width: 440px;
    font-size: 0.9rem;
    transform: rotate(7deg);
    z-index: 100;
}

#claim>p{
    margin: 6px;
}

main{
    padding: 0 1em;
}

main h1{
    font-size: 1.4em;
    margin: 20px 0;
    padding: 0.3em;
    text-align: center;
    background-color: rgba(255, 233, 154, 0.9);
    background-color: #eee;
    color: var(--main-bg-color);
    border-radius: 0.3em;
}

main li{
    margin-bottom: 10px;
}

.column:nth-child(n+2){
    /*border-top: 1px solid #aaa;*/
}

.column>*{
    margin-top: 0;
    line-height: 1.8em;
}

.subtitle{
    display: inline-block;
    padding: 1px;
    margin-top: 1em;
    margin-bottom: 1em;
    font-size: 1.1em;
    text-transform: uppercase;
    text-decoration-line: underline overline;
    text-decoration-color: var(--main-color-pink);
    text-underline-offset: 3px;
    background-color:rgba(50, 50, 50, 0.3);
}

#barbara{
    border-radius: 50%;
    width: 75%;
    margin: 20px auto;
    height: 50vw;
    max-height: 490px;
    text-align: center;
    background-image: radial-gradient(rgba(158, 158, 158, 0.05), 55%,rgba(255, 255, 255, 0.8)), url('img/barbara.jpg');
    background-size: cover;
}

/*Kontaktformular*/



input, textarea{
    padding: 10px;
    background-color: rgba(240,240,240,0.9);
    border: 2px solid #bbb;
    border-radius: 0.4em;
    width: 100%;
}

.hinweis{
    color:#c00c00; 
    background-color: #eee; 
    padding: 5px 10px; 
    border-radius: 0.4em;
}


@media only screen and (min-width: 60em){
    .title{
        height: 200px;
    }

    .logo img{
        float: left;
        width: 310px;
    }

    #claim{
        display: block;
    }

    .menu{
        clear: left;
        height: auto;
    }

    .menu-icon{
        display: none;
    }

    .menu-dropdown{
        display: block;
        position: static;
    }

    .nav-menu{
        display: flex;
    }
    .nav-menu>li{
        flex: 1;
    }

    .nav-menu>li + li{
        border: none;
    }

    .nav-menu>li>a{
        padding: 1.2em 0;
        height: 100%;
    }

    .page-header{
        background-color: #3C6CA8;
    }

    .hero{
        width: calc(100%-2em);
        max-width: 1000px;
        padding: 5em;

    }

    main{
        max-width: 1000px;
        margin: 10px auto;
        padding: 0 1.4em;
    }

    form{
        width: 75%;
    }

}



@media only screen and (min-width: calc(1000px + 3em)){
    .hero{
        margin: 20px auto 20px auto;
        border-radius: 0.3em;
    }
    main{
        padding: 0;
    }
}

footer{
    padding: 20px;
    color: #eee;
    margin-top: 20px;
    border-top: 2px solid #bbb;
    font-size: 0.9em;
    line-height: 1.3em;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

footer div{
    min-width: 350px;
}

footer h3{
    margin: 8px 0;
}

footer ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}


